<div class="home">
  
<h1>Users</h1>






<% @users.each do |user| %>
<div class="beer">
 
    <h2><%= link_to user.user_name, user %></h2>
    <p>User type: <%= user.user_type %></p>
    <p>Email: <%= user.email %></p>
<<<<<<< HEAD
    <div class="button"><%= link_to 'Show', user %> 
    <%= link_to 'Edit', edit_user_path(user) %>  
    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
=======
  <% if current_user  %>
    <small><%= link_to 'edit', edit_user_path(user) %> | 
    <%= link_to 'delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></small>
  <% end %>
>>>>>>> Hid edit links from non-logged in users.
  
  </div>
<% end %>


<br />


<div class="button">
<%= link_to 'New User', new_user_path %>
</div>
</div>
