<div class="single home">


<div class="button">
<%= link_to 'Back', users_path %>
</div>
<p id="notice"><%= notice %></p>


<h1> <%= @user.user_name %></h1>

<div class="beer">
<p>
  <b>User type:</b>
  <%= @user.user_type %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if current_user  %>
<small>
<%= link_to 'edit', edit_user_path(@user) %> | <%= link_to 'delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</small>
<% end %>


</div>
</div>

<h2>Reviews by <%= @user.user_name %></h2>
  <% @user.check_in.order("created_at DESC").each do |r|  %>
  <div class="beer">
<p>
<h2> <%= link_to r.beer.title, r.beer %></h2><br>
Rating: <%= r.rating %><br>
Review: <%= r.review %><br>
<%= r.wishlist ? "On wishlist" : "Not on wishlist" %><br>


Review date: <%= r.created_at %>

</p>
<% if current_user  %>
<div><%= link_to 'edit', edit_check_in_path(r) %></div>
<% end %>
</div>
<% end %>

</div>