<h1>Editing <%= @check_in.beer.title%> Review</h1>

<%= render 'form' %>

<div class="redbutton"><%= link_to 'delete', check_in_path, method: :delete, data: { confirm: 'Are you sure?' } %></div><br /><br />
<!-- <%= link_to 'Show', @check_in %> | -->
<div class="button"><%= link_to 'Back', check_ins_path %></div>
