<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @check_in.review %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @check_in.rating %>
</p>

<p>
  <strong>Wishlist:</strong>
  <%= @check_in.wishlist %>
</p>

<p>
  <strong>Beer:</strong>
  <%= @check_in.beer_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @check_in.user_id %>
</p>


<%= link_to 'Edit', edit_check_in_path(@check_in) %> |  <%= link_to 'delete', check_in_path, method: :delete, data: { confirm: 'Are you sure?' } %><br />
<%= link_to 'Back', check_ins_path %>
