<%= form_for(@beer) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :brewery %><br />
    <%= f.text_field :brewery %>
  </div>
    <div class="field">
    <%= f.label :note, "Description" %><br />
    <%= f.text_area :note %>
  </div>
    <div class="field">
    <%= f.label :style %><br />
    <%= f.text_field :style  %>
  </div>

  <!-- Removed from the Beers - added to Reviews
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.select :rating, [['Rate this beer'], ['Piss Water', 1], ['Not Good', 2],
['Decent', 3], ['Really Good', 4],
                               ['Superb', 5]]     %>
  </div> -->
  <!-- Removed from the Beers - added to Reviews
  <div class="field">
    <%= f.check_box :wishlist %><%= f.label :wishlist, 'Add to Wishlist' %> 
    
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
