<span class="home">
<h1>All Beers</h1>



<% if @beers %>

         <% @beers.each do |beer| %>
         
         <div class="beer">
         <h2> <%= link_to beer.title, beer %></h2>
            <p class="brewery"><%= beer.brewery %></p>
            <p class="style"><%= beer.style %></p>
             <!-- <p class="rating"><%= beer.rating %> Stars |  Wishlist: <%= beer.wishlist ? "Yes" : "No" %></p>-->
            
         </div> 
         <% end %>




<% end %>

<br />
<div class="newbeer">
<%= link_to 'New Beer', new_beer_path %>
</div>
</span>