<div class="home">
<h1>All Beers</h1>



<% if @beers %>

         <% @beers.each do |beer| %>
         
         <div class="beer">
         <h2> <%= link_to beer.title, beer %></h2>
            <p class="brewery">Brewery: <%= beer.brewery %><br />
            <span class="style">Style: <%= beer.style %></span></p>
			<p class="brewery"><!-- <%= link_to "check in", beer %> <br/>-->
                        Number of check-ins: <%= CheckIn.count(:all, :conditions => ['beer_id = ?', beer.id]) %> </p>
             
            
         </div> 
         <% end %>




<% end %>

<br />
<div class="button">
<%= link_to 'New Beer', new_beer_path %>
</div>
</div>