<h1> Searched for "<%= params[:search_text] %>"  <small> &nbsp;<a href="<%= beers_url %>">clear search</a></small></h1>


<% if @beers %>

         <% @beers.each do |beer| %>
         
         <div class="beer">
         <h2> <%= link_to beer.title, beer %></h2>
            <p class="brewery">Brewery: <strong><%= beer.brewery %></strong></p>
            
            <p class="style">Style: <strong><%= beer.style %></span></strong></p>
            
            <p class="checkin">Number of check-ins: <strong><%= CheckIn.count(:all, :conditions => ['beer_id = ?', beer.id]) %></strong> </p>
						</div> 
         <% end %>




<% end %>
