<div class="single home">


<div class="back">
<%= link_to '<< Back', beers_path %>
</div>
<p id="notice"><%= notice %></p>

<div class="beer">
<h2>
  <%= @beer.title %>
</h2>

<p class="brewery">
  <%= @beer.brewery %>
</p>
<p class="style">
  <%= @beer.style %>
</p>

<p class="note">
  <%= @beer.note %>
</p>



             
             <% if current_user  %>
             <small>
              <%= link_to 'Edit', edit_beer_path(@beer) %> |
             <%= link_to 'Delete', @beer, method: :delete, data: { confirm: 'Are you sure?' } %>
             </small>
             <% end %>

</div>
<% if current_user %> 
<div class="beer">
  <h3>Check In</h3>
  
      <%= form_for(@check_in) do |f| %>
  <% if @check_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_in.errors.count, "error") %> prohibited this check_in from being saved:</h2>

      <ul>
      <% @check_in.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :beer_id, :value => @beer.id %>

  <div class="field">
    <%= f.label :review %><br />
    <%= f.text_area :review, :rows => "3" %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.select :rating, [1, 2, 3, 4, 5] %>
  </div>
  <div class="field">
    <%= f.label :wishlist %><br />
    <%= f.check_box :wishlist %>
  </div>


  <div class="actions">
    <%= submit_tag "Check In" %> &nbsp; <%= link_to 'Cancel', beers_path %>
  </div>
<% end %>

</div>
  <% end %>

  
 <h3>Check-ins</h3> 
  <% @beer.check_in.order("created_at DESC").each do |r|  %>
  
  <div class="beer">
<h2><%= link_to r.user.user_name, r.user  %></h2>
<p>

Rating: <%= r.rating %><br>
Review: <%= r.review %><br>
<%= r.wishlist ? "On wishlist" : "Not on wishlist" %><br>


Review date: <%= r.created_at %>

</p>
<% if current_user  %>      
      <small><%= link_to 'edit', edit_check_in_path(r) %></small>
  <% else %>

<% end %>

</div>
<% end %>





