<!DOCTYPE html>
<html>
<head>
  <title>Beerme - The Beer List</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= form_tag search_beers_path, :method => 'get' do %>
<div class="header">
	<h3 class="logo">BeerMe</h3>
	<div class="search">
		<p>
		<strong><%= label_tag :search_text, "Search" %></strong>
		<%= text_field_tag :search_text, params[:search_text] %>
		
		<span class="actions">
		<%= submit_tag 'Search' %>
		</span></p>
	</div>
</div>
<div class="content">
<%= yield %>
</div>
<% end%>
</body>
</html>
